@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');

:root {
  --background: #000000;
  --foreground: #ededed;
  --custom-black: #000000;
  --custom-gray: #222222;
  --custom-light-green: #1dcd9f;
  --custom-dark-green: #169976;
  --custom-red: #e52020;
  --custom-orange: #fba518;
}

html {
  background-color: #222222;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1024px;
  margin: 0 auto;
  /* height: 100vh; */
  font-family: 'IBM Plex Sans KR', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.text-custom-black {
  color: var(--custom-black);
}
.text-custom-gray {
  color: var(--custom-gray);
}
.text-custom-light-green {
  color: var(--custom-light-green);
}
.text-custom-dark-green {
  color: var(--custom-dark-green);
}
.text-custom-red {
  color: var(--custom-red);
}
.text-custom-orange {
  color: var(--custom-orange);
}

.bg-custom-black {
  background-color: var(--custom-black);
}
.bg-custom-gray {
  background-color: var(--custom-gray);
}
.bg-custom-light-green {
  background-color: var(--custom-light-green);
}
.bg-custom-dark-green {
  background-color: var(--custom-dark-green);
}

.border-custom-black {
  border-color: var(--custom-black);
}
.border-custom-gray {
  border-color: var(--custom-gray);
}
.border-custom-light-green {
  border-color: var(--custom-light-green);
}
.border-custom-dark-green {
  border-color: var(--custom-dark-green);
}

@layer base {
  input:focus,
  textarea:focus,
  button:focus {
    @apply outline-none;
  }
}
